:host {
    margin: 1em auto 0;
}

.task {
    border: 1px solid;
    padding: 1em;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.task div {
    display: inline-block;
    background-color: #cef;
    margin: 1em;
    padding: 1em 1.5em;
    font-weight: bold;
    font-size: 2em;
}

.opcode {
    border-radius: 1.5em;
}

.task div.result {
    padding: .5em 1em;
    width: 4em;
}

.task div input {
    background-color: #e0f8ff;
    border: none;
    text-align: center;
    padding: .5em;
    width: 3em;
    font-size: 1em;
    font-weight: bold;
}