:host {
    border: 1px solid;
    margin: 1em auto 0;
    padding: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.block {
  display: flex;
  justify-content: center;
}

.operand, .opcode, .result {
    display: inline-block;
    background-color: #cef;
    margin: 1em;
    padding: .75em .5em;
    width: 2em;
    height: 1.5em;
    font-weight: bold;
    font-size: 2em;
}

.opcode {
    border-radius: 1.5em;
}

.result {
    padding: .75em 1em;
    width: 4em;
}

input {
    background-color: #e0f8ff;
    border: none;
    text-align: center;
    padding: 0;
    width: 3em;
    height: 1.5em;
    font-size: 1em;
    font-weight: bold;
}
