:host {
    margin: 0 auto;
    padding: 1em;
    width: 24em;
    text-align: center;
    font-size: 1em;
}

.headline {
  font-size: 3em;
  padding: .5em 0;
}

.summary {
    font-size: 1.5em;
    border: 1px solid;
    background-color: #8ce;
    margin: 1em 0;
    padding: .5em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.summary div {
    display: inline-block;
    padding: 0 .5em;
    height: 1.5em;
}

table {
  width: 100%;
}

thead td {
    background-color: #cef;
    padding: .5em 1em;
}

td.correct {
    color: green;
}

td.wrong {
    color: red;
}

tr:nth-child(2n) {
    background-color: #eee;
}

.buttonBar {
    text-align: right;
    margin-top: 2em;
}

.buttonBar button {
    background-color: #8ce;
    padding: 1em 2em;
}

.buttonBar button:hover {
    background-color: #cef;
}
